.comments-desc
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 300px;
    gap: 30px;

    p
    {
        font-size: 18px;
        font-weight: 400;
        color: #fff;
        line-height: 30px;
    }

    span
    {
        font-size: 21px;
        color: #fff;
        font-weight: 400;
    }
}